 /* font family work sans from google*/
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;0,800;1,400;1,700;1,800&family=Work+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


  *{font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
  }


   /* Header style-saction*/
header{
    height: 130vh;
    background-color: blanchedalmond;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 0px   240px;
    justify-content: space-between;

}

.menu> ul{
    display: flex;
    list-style: none;
    justify-content: center;

}

.menu> ul> li{
    text-decoration: none;
    margin-right: 35px;

}

.menu> ul > li a{
   text-decoration: none;
   font-size: 1rem;
   font-weight: 500;
   color: #424242;
}

   /* Header banner-saction*/

.header-baner{
    text-align: center;
    padding: 0px 240px;
}


.head-title{
    font-size: 3rem;
    font-weight: 700;
    color:3rem;
    color:#131313;
}

.head-paragraph{
    font-size: 1rem;

}
.btn-common{
    font-size: 1rem;
    font-weight: 600;
    color: white;
    background-color: #FF900E;
    border-color: none;
    border-radius: 5px;
    padding: 08px 17px;
}

.btn-common > a{
    text-decoration: none;
}


.banner-img{
    margin-top: 30px;
    align-items: center;
    border-radius: 7px;

}

/*Team section with 4 photo*/

.team-section{
    display: flex;
    padding: 40px 280px;
    gap: 50px;
    align-items: center;
}

.team-galeray{
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-gap:20px;
}

.gallery-text{

    justify-content: center;
}




/*Main 2nd section-fetured*/
.fetured-section{
    display: flex;
    padding: 50px 240px;
    align-items: center;
 
}
.f-Title{
    font-size: 2rem;
    color: red;
    border-left:7px solid #FF900E;
    padding-left: 10px;

}

.f-paragraph{
    font: 1rem;
    color:#757373;

}

.f-inner-pg{
    padding-left: 28px;
    padding-top: 10px;
    padding-bottom: 10px;
}


.box-holder{
display: flex;
align-items: center;
margin-top: -210px;
}


.box{
    display: flex;
    flex-direction: column;
    width: 200px;
    border: #FF900E;
    border-radius: 8px;
    background-color: #FF900E;
    padding:20px 30px;
    margin-left: 800px;
    text-align: center;

} 





.fethured-img{
    width: 650px;
    height: 1100px;
    padding-left: 50px;
}


/* Fact and service section*/
.facts{
    padding-left: 240px;

}

.facts-paragraph{
    padding-left: 240px;
}


/*Revew section four icon*/

.revew{
    width: 150px;
    height: 150px;
    text-align: center;
    border: #131313;
    padding: 20px 30px;
    border:1px solid tomato;
}
.revew-section{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin-left: 150px;
    margin-right: 150px;}


.sopnsor-head{
    margin-top: 100px;
    margin-bottom: 50px;
    padding-left: 240px;
    padding-right: 240px;
    text-align: center;
}

.sponsored{
    display: flex;
    justify-content: space-between;
    padding-left: 240px;
    padding-right: 240px;
}


.copyrigh{
    margin-top: 150px;
    margin-bottom: 180px;
    border: 1px solid tan;
    background-color: #FFF4E7;
    padding: 20px 100px;
    margin-left: 240px;
    margin-right: 240px;
    text-align: center;
}

        /*CSS End*/


/* Media queries section for Mobile*/

@media screen and ( max-width: 576px) {
    .navbar{
        flex-direction: column;
        padding: 20px;
        justify-content: center;
        padding: 20px;
    }
    .header-baner{
         text-align: center;
         padding: 20px;
    }

    .team-section{
        flex-direction: column;
        padding: 10px;
    }
    .team-galeray{
        grid-template-columns: repeat(1, 1fr);
        grid-gap:10px;
}
.fetured-section{
    flex-direction: column;
    padding: 10px;
    align-items: center;
}

.fethured-img{
    width: auto;
    margin-left:  5px;
    margin-right: 5px;
    padding: 0px;

  }

.box-holder{
    flex-direction: column;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
}

.box{
    margin: 0px;
}

.facts{
    padding-left: 10px;
    align-items: center;
    text-align: center;
}

.facts-paragraph{
    padding: 10px;
}
.revew-section{
    flex-direction: column;
    justify-content: center;
    justify-content: space-around;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    align-items: center;
    gap: 10px
}

.sopnsor-head-media{
    align-items: center;
    padding-left: 0px;
    margin: 0px;
}

.sopnsor-head{
        margin-top: 10px;
        margin-bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;
        text-align: center;
    }
.sponsored{
       flex-direction: column;
        justify-content: space-between;
        padding-left: 240px;
        padding-right: 240px}

    .copyrigh{
            border: 1px solid tan;
            background-color: #FFF4E7;
            padding: 10px 20px;
            margin-left: 0px;
            margin-right: 0px;
            text-align: center;
            margin-bottom: 300px;
}
}





/* Media queries section Medium-device*/

@media screen and ( min-width: 576px) and (max-width:960px) {
    .navbar{
        flex-direction: column;
        padding: 20px;
        justify-content: center;
        padding: 20px;
    }
    .header-baner{
         text-align: center;
         padding: 20px;
    }

    .team-section{
        flex-direction: column;
        padding: 10px;
    }
    .team-galeray{
        grid-template-columns: repeat(1, 1fr);
        grid-gap:10px;
}
.fetured-section{
    flex-direction: column;
    padding: 10px;
    align-items: center;
}

.fethured-img{
    width: auto;
    margin-left:  5px;
    margin-right: 5px;
    padding: 0px;

  }

.box-holder{
    flex-direction: column;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
}

.box{
    margin: 0px;
}

.facts{
    padding-left: 10px;
    align-items: center;
    text-align: center;
}

.facts-paragraph{
    padding: 10px;
}
.revew-section{
    flex-direction: column;
    justify-content: center;
    justify-content: space-around;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    align-items: center;
    gap: 10px
}

.sopnsor-head-media{
    align-items: center;
    padding-left: 0px;
    margin: 0px;
}

.sopnsor-head{
        margin-top: 10px;
        margin-bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;
        text-align: center;
    }
.sponsored{
       flex-direction: column;
        justify-content: space-between;
        padding-left: 240px;
        padding-right: 240px}

    .copyrigh{
            border: 1px solid tan;
            background-color: #FFF4E7;
            padding: 10px 20px;
            margin-left: 0px;
            margin-right: 0px;
            text-align: center;
            margin-bottom: 300px;
}
}

